!!!
%html
  %head
    %title Lara Templemore-Walters Coding Portfolio
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:name => "description", :content => "Lara Templemore-Walters Coding Portfolio Page"}

    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/foundation.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/site.css.scss"}

    %script{:src => "/javascripts/app.js"}
    %script{:src => "/javascripts/vendor/foundation.js"}
    %script{:src => "/javascripts/vendor/jquery.js"}
    %script{:src => "/javascripts/vendor/what-input.js"}
    %script{:src => "https://use.fontawesome.com/f5e451c26b.js"}
    :javascript

  %body
    = partial 'partials/header'
    = yield
    = partial 'partials/footer'

    = javascript_include_tag :app
