!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:name => "description", :content => "Lara Templemore-Walters Coding Portfolio Page"}
    %title Lara Templemore-Walters Coding Portfolio
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/source/stylesheets/foundation.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/source/stylesheets/foundation.min.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/source/stylesheets/_normalize.scss"}
    %script{:src => "source/javascript/foundation.js"}
    %script{:src => "source/javascript/foundation.mini.js"}
    %script{:src => "source/javascript/jquery.js"}
    :javascript

  %body
