!!!
%html
  %head
    %title Lara Templemore-Walters Coding Portfolio
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width = device-width,initial-scale = 1.0,minimum-scale = 1.0,maximum-scale = 1.0,user-scalable = no name=viewport'}
    %meta{name: 'description', content: 'Lara Templemore-Walters Coding Portfolio Page'}

    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/foundation.css'}
    %link{href: '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel: 'stylesheet'}
    -# = stylesheet_include_tag :site

    %script{src: '/javascripts/vendor/foundation.js'}
    %script{src: '/javascripts/vendor/jquery.js'}
    %script{src: '/javascripts/vendor/what-input.js'}
    %script{src: '//use.fontawesome.com/f5e451c26b.js'}
    :javascript

  %body
    = partial 'partials/header'
    = yield
    = partial 'partials/footer'

    = javascript_include_tag :all
