%footer.footer
  .row.expanded.callout
    .row
      .medium-6.columns
        %ul.menu
          %li
            %a.footer-menu{href: '/sitemap.html'} Site Map
          %li
            %a.footer-menu{href: '/contact.html'} Contact Me
          %li.menu-text © Lara Templemore-Walters | All Rights Reserved | Terms and Conditions Apply.

      .medium-4.columns
        %ul.social-icons.icon-circle.icon-rotate.list-unstyled.list-inline.menu.float-right
          %li
            %a{href: 'https://www.facebook.com/lollypop27', target: '_blank'}
              %i.fa.fa-facebook
          %li
            %a{href: 'http://twitter.com/larawalters', target: '_blank'}
              %i.fa.fa-twitter
          %li
            %a{href: 'https://za.pinterest.com/laratemplemorew/', target: '_blank'}
              %i.fa.fa-pinterest
          %li
            %a{href: 'http://www.linkedin.com/in/lara-lee-templemore-walters-a565a1a?trk=hp-identity-name', target: '_blank'}
              %i.fa.fa-linkedin
          %li
            %a{hhref: 'https://plus.google.com/u/0/+LaraTemplemoreWalters', target: '_blank'}
              %i.fa.fa-google-plus
          %li
            %a{href: 'https://www.instagram.com/lollypop_27/?hl=en', target: '_blank'}
              %i.fa.fa-instagram
          %li
            %a{href: 'https://github.com/lollypop27', target: '_blank'}
              %i.fa.fa-github
