%footer.footer
  .row.expanded.callout
    .row
      .medium-4.columns
        %ul.menu
          %li
            %a.footer-menu{href: '/sitemap.html'} Site Map
          %li
            %a.footer-menu{href: '/contact.html'} Contact Me
      .medium-8.columns
        %ul.menu.float-right
          %li
            %a.fa.fa-facebook-official{"aria-hidden" => "true", href: '#'}
          %li
            %a.fa.fa-pinterest-square{"aria-hidden" => "true", href: '#'}
          %li.menu-text © Lara Templemore-Walters | All Rights Reserved | Terms and Conditions Apply.
