%header
  .title-bar{"data-hide-for" => "small", "data-responsive-toggle" => "Menu"}
    %button.menu-icon{"data-toggle" => "", :type => "button"}
    .title-bar-title Menu
  #Menu.top-bar
    .top-bar-left
      %ul.menu{"data-responsive-menu" => "accordion"}
        %li.menu-text
          %a{:href => "/"} Lara's Portfolio
    .top-bar-right
      %ul.menu
        %li
          %a{:href => "/about.html"} About Me
        %li
          %a{:href => "/portfolio.html"} My Portfolio
