.aboutImg
  .row
    .block
      .large-10
        %h1 Welcome to My World of Design and Code
        %p Business owner, designer & part-time DJ who loves this changing world, as tomorrow, is never the same. With over 24 years of experience in the advertising industry, my passion lies in helping companies brand themselves professionally and market themselves through various forms of media from print to digital.
        %p Through my career journey, I have learnt Adobe Photoshop, Indesign, Illustrator, Muse, Flash Animation, HTML, CSS, Joomla CMS, Wordpress CMS, Pay Per Click, Social Media Management and Advertsing.
        %p Currently I am doing a Coding BootCamp through Craft Academy were I am learning:
        %ul
          %li Ruby / Ruby on Rails
          %li Javascript
          %li JQuery
          %li Anglar JS
          %li Writing User Stories for Web App development
          %li YAML
          %li The use of Github
          %li Wireframing
          %li Database
        %a.button{:href => "/portfolio.html"} View my Portfolio
