.homeImg
  .row
    .block
      .large-10.columns
        %h1 Welcome to Lara Templemore-Waltesr Portfolio of Design and Code
        %p My passion and inquisitiveness of the world of the inter web has curved my carreer path, from web designer to recently learning to code through a bootcamp by Craft Academy.
        %p Take a look at my portfolio and get in contact with me to chat about any oppertunities or ideas you may have.
        %a{:href => "/about.html"} More about me
        %a{:href => "/portfolio.html"} View my portfolio
