.wrapper
  #main
    %form#contact-form
      %h3 Sitemap
      %div
        %label
          %ul
            %li
              %a{:href => "/about.html"} About Me
            %li
              %a{:href => "/portfolio.html"} My Portfolio
            %li
              %a{:href => "/blog.html"} Blog
            %li
              %a{:href => "/contact.html"} Contact
